In [265]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import os
import sklearn
import gensim

In [2]:
books = pd.read_csv("./Books.csv")

/home/garvit/miniconda2/envs/amazon/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [16]:
ratings = pd.read_csv("./Ratings.csv")

In [24]:
ratings["Book-Rating"]

0           0
1           5
2           0
3           3
4           6
           ..
1149775     9
1149776     0
1149777    10
1149778    10
1149779     8
Name: Book-Rating, Length: 1149780, dtype: int64

In [11]:
users = pd.read_csv("./Users.csv")

In [12]:
users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [13]:
books["Publisher"].value_counts()

Harlequin                  7535
Silhouette                 4220
Pocket                     3905
Ballantine Books           3783
Bantam Books               3646
                           ...
Hannover House                1
Amber Quill Press, LLC.       1
Lunchbox Press                1
Ugly Town                     1
Connaught                     1
Name: Publisher, Length: 16807, dtype: int64

In [23]:
ratings["User-ID"]

0          276725
1          276726
2          276727
3          276729
4          276729
            ...
1149775    276704
1149776    276706
1149777    276709
1149778    276721
1149779    276723
Name: User-ID, Length: 1149780, dtype: int64

In [15]:
ratings

        User-ID         ISBN  Book-Rating
0        276725   034545104X            0
1        276725   0155061224            5
2        276725   0446520802            0
3        276725   052165615X            3
4        276725   0521795028            6
...         ...          ...          ...
1149775  276725   1563526298            9
1149776  276725   0679447156            0
1149777  276725   0515107662           10
1149778  276725   0590442449           10
1149779  276725  05162443314            8

[1149780 rows x 3 columns]

In [28]:
len(ratings[ratings["Book-Rating"] == 0])

716109

In [30]:
len(ratings) - len(ratings[ratings["Book-Rating"] == 0])

433671

In [32]:
books["Image-URL-L"][0]

'http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg'

In [38]:
def clean_text(review_text):
    
    return re.sub(r'[^a-zA-Z0-9 ]','',review_text)

In [56]:
def clean_dataset():
    
    books["Book-Title"] = books["Book-Title"].apply(clean_text)
#     books["Book-Author"] = books["Book-Author"].apply(clean_text)
    books["Combined"] = books["Book-Author"] + " " + books["Book-Title"]

In [75]:
clean_dataset()

In [189]:
books_clean = books.drop(labels = ["Book-Title", "Book-Author"], axis = 1)

In [190]:
books_clean = books_clean.drop(labels = ["Image-URL-S", "Image-URL-L", "Image-URL-M"], axis = 1)

In [191]:
books_clean["Combined"] = books_clean["Combined"] + " " + books["Year-Of-Publication"].apply(str) + " " + books["Publisher"]

In [192]:
books_clean = books_clean.drop(labels = ['Publisher'], axis = 1)

In [193]:
books_clean = books_clean.drop(labels = ["Year-Of-Publication"], axis = 1)

In [194]:
books_clean = books_clean.dropna()

In [195]:
books_clean

              ISBN                                           Combined
0       0195153448  Mark P. O. Morford Classical Mythology 2002 Ox...
1       0002005018  Richard Bruce Wright Clara Callan 2001 HarperF...
2       0060973129  Carlo D'Este Decision in Normandy 1991 HarperP...
3       0374157065  Gina Bari Kolata Flu The Story of the Great In...
4       0393045218  E. J. W. Barber The Mummies of Urumchi 1999 W....
...            ...                                                ...
271355  0440400988  Paula Danziger Theres a Bat in Bunk Five 1988 ...
271356  0525447644  Teri Sloat From One to One Hundred 1991 Dutton...
271357  006008667X  Christine Wicker Lily Dale  The True Story of ...
271358  0192126040  Plato Republic Worlds Classics 1996 Oxford Uni...
271359  0767409752  Christopher  Biffle A Guided Tour of Rene Desc...

[271357 rows x 2 columns]

In [196]:
def read_corpus(fname, tokens_only=False):

    for i, line in enumerate(fname):
        tokens = gensim.utils.simple_preprocess(line)
        if tokens_only:
            yield tokens
        else:
            # For training data, add tags
            yield gensim.models.doc2vec.TaggedDocument(tokens, [i])

train_corpus = list(read_corpus(books_clean["Combined"]))

In [197]:
model = gensim.models.doc2vec.Doc2Vec(vector_size=10, min_count=1, epochs=15)

In [198]:
model.build_vocab(train_corpus)

In [199]:
model.train(train_corpus, total_examples=model.corpus_count, epochs=model.epochs)

In [200]:
model.save("Trained.model")

In [201]:
line = gensim.utils.simple_preprocess(books_clean["Combined"][1])

In [202]:
vector = model.infer_vector(line)
print(vector)

[ 0.10821854  0.22429353  0.22499312 -0.05630039  0.00473043 -0.01538596
  0.11153307 -0.01378286 -0.16502519 -0.08682953]

In [203]:
def make_data():

    books_clean["Vector"] = books_clean["Combined"].apply(gensim.utils.simple_preprocess)

In [206]:
make_data()

In [208]:
model.infer_vector(books_clean["Vector"][15])

array([ 0.0491791 ,  0.02854721,  0.42789352,  0.00510488,  0.3836304 ,
       -0.27678704,  0.27934068,  0.22522035, -0.2933563 , -0.12217059],
      dtype=float32)

In [215]:
def recommend_books(book, n):
    
    text = clean_text(book)
    line = gensim.utils.simple_preprocess(text)
    infer = model.infer_vector(line)
    sims = model.dv.most_similar([infer], topn = n)
    
    for term in similar:
        print(train_corpus[term[0]].words)

In [216]:
books_clean.to_csv("Clean.csv")

In [217]:
title = books["Book-Title"][0]

In [218]:
recommend_books("Plato", 15)

['jane', 'austen', 'mansfield', 'park', 'modern', 'library', 'classics', 'modern', 'library']
['jessica', 'barcley', 'into', 'the', 'sunset', 'silhouette', 'special', 'edition', 'no', 'silhouette']
['james', 'blish', 'jack', 'of', 'eagles', 'avon', 'books']
['alexandre', 'dumas', 'louise', 'de', 'la', 'valliere', 'oxford', 'university', 'press']

In [220]:
text = clean_text(title)
line = gensim.utils.simple_preprocess(text)
infer = model.infer_vector(line)
sims = model.dv.most_similar([infer], topn = 5)

# for term in similar:
#     print(train_corpus[term[0]].words)

['jane', 'austen', 'mansfield', 'park', 'modern', 'library', 'classics', 'modern', 'library']
['jessica', 'barcley', 'into', 'the', 'sunset', 'silhouette', 'special', 'edition', 'no', 'silhouette']
['james', 'blish', 'jack', 'of', 'eagles', 'avon', 'books']
['alexandre', 'dumas', 'louise', 'de', 'la', 'valliere', 'oxford', 'university', 'press']

In [221]:
sims

[(223700, 0.9695423245429993),
 (33623, 0.96741783618927),
 (20614, 0.9668981432914734),
 (105720, 0.9660919904708862),
 (57231, 0.9657881855964661)]

In [253]:
rating_dict = dict.fromkeys(ratings["ISBN"], 0)

In [254]:
ISBN_counts = dict.fromkeys(ratings["ISBN"], 0)

In [233]:
ratings[ratings["ISBN"] == "0521795028"].value_counts()

User-ID  ISBN        Book-Rating
276729   0521795028  6              1
dtype: int64

In [243]:
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [260]:
for index, record in ratings.iterrows():
    
    rating_dict[record["ISBN"]] += record["Book-Rating"]
    if record["Book-Rating"] >= 1:
        ISBN_counts[record["ISBN"]] += 1

In [261]:
for isbn in rating_dict.keys():
    rating_dict[isbn] /= ISBN_counts[isbn]

In [266]:
books_clean

,ISBN,Combined,Vector
0,0195153448,Mark P. O. Morford Classical Mythology 2002 Ox...,"[mark, morford, classical, mythology, oxford, ..."
1,0002005018,Richard Bruce Wright Clara Callan 2001 HarperF...,"[richard, bruce, wright, clara, callan, harper..."
2,0060973129,Carlo D'Este Decision in Normandy 1991 HarperP...,"[carlo, este, decision, in, normandy, harperpe..."
3,0374157065,Gina Bari Kolata Flu The Story of the Great In...,"[gina, bari, kolata, flu, the, story, of, the,..."
4,0393045218,E. J. W. Barber The Mummies of Urumchi 1999 W....,"[barber, the, mummies, of, urumchi, norton, am..."
...,...,...,...
271355,0440400988,Paula Danziger Theres a Bat in Bunk Five 1988 ...,"[paula, danziger, theres, bat, in, bunk, five,..."
271356,0525447644,Teri Sloat From One to One Hundred 1991 Dutton...,"[teri, sloat, from, one, to, one, hundred, dut..."
271357,006008667X,Christine Wicker Lily Dale The True Story of ...,"[christine, wicker, lily, dale, the, true, sto..."
271358,0192126040,Plato Republic Worlds Classics 1996 Oxford Uni...,"[plato, republic, worlds, classics, oxford, un..."
271359,0767409752,Christopher Biffle A Guided Tour of Rene Desc...,"[christopher, biffle, guided, tour, of, rene, ..."

In [267]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(books_clean['Combined'])

In [268]:
tfidf_matrix.shape

(271357, 1098399)